@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
    font-family: 'Tilt Neon',
        sans-serif;
}

.heading {
    font-size: 2.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.logo {
    max-width: 200px;
    max-height: 200px;
    padding-right: 50px;
}

.controllers {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttons {
    height: 100px;
    width: 100px;
    margin: 35px;
    font-size: 300%;
}

.fa-solid {
    padding-left: 10px;
}